<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<!-- <springProfile name="dev"></springProfile> -->
	<springProperty scope="local" name="logPath" source="log.path"/>
	<springProperty scope="local" name="logFile" source="log.file"/>
	<springProperty scope="local" name="logLevel" source="log.level"/>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date [%X{ClientId}] [%thread] %-5level %logger{80} --- %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logPath}/${logFile}.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
			<maxHistory>90</maxHistory>
		</rollingPolicy>
		<encoder>
			<charset>utf-8</charset>
			<pattern>%date %X{ClientId} [%thread] %-5level %logger{80} --- %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>512</queueSize>
		<appender-ref ref="FILE" />
	</appender>
	<logger name="cn.demo.random" level="${logLevel}" />
	<root>
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ASYNC" />
	</root>
</configuration>
